.scoreBoard {
    margin-top: 100px;
}
.timer {
    display: flex;
    justify-content: center;
    margin-left: 6vw;
}
  
.minutes, .seconds {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 175px;
    height: 85px;
    background-color: rgb(215, 99, 211);
    color: white;
    margin: 10px;
    padding: auto;
    font-size: 2.2rem;
    border-radius: 5px;
}
  
.btns {
    display: flex;
    flex-direction: column;
    padding: 5px;
  
    margin: 6px;
    background-color: rgb(143, 238, 20);/*rgb(121, 241, 217);*/
    border-radius: 7px;
}
  
.pause {
    margin: 2vw 0 0 44vw;
    padding: 15px;
    width: 10vw;
    font-size: 1.5rem;
    background-color: rgb(12, 93, 234);
    color: white;
}