*{
  font-family: Arial, Helvetica, sans-serif;
}

.mainBody {
  /* background-color: rgb(238, 151, 64); */
  background-image: url("./images/bg3.jpg");
  background-size: 100vw 100vh;
}

#logout {
  padding: 9px;
  margin: 6px;
  background-color: rgb(143, 238, 20);/*rgb(121, 241, 217);*/
  border-radius: 7px;
}



